@charset "UTF-8";

main {
    display: block;
}

.banner {
    width: 100%;
    margin-bottom: -2px;
}

.post-cards-rodape {
    display: flex;
    justify-content: space-between;
}

.regiao-detalhes {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    color: white;
    text-shadow: 2px 2px black;
}

.detalhes-empresa {
    text-align: center;
    margin-right: 2rem;

    width: 50%;

    font-family: "Montserrat", sans-serif;
}

.detalhes-empresa h1 {
    font-size: 3.2rem;
    font-weight: bolder;

    margin: 1.6rem 0;
}

.detalhes-empresa p {
    text-align: center;

    margin: 1rem 0;
}

.mapa {
    font-family: "Montserrat", sans-serif;
    text-align: center;

    margin: 0 auto;
}

.mapa h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.mapa p {
    margin: 1rem;
}

#receitas-smallposts {
    width: 65%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#receitas-smallposts a {
    text-decoration: none;
}

.receitas-posts {
    border: 1px solid black;
    border-radius: 4px;

    width: 44%;
    height: 100%;

    padding: 2%;
    margin-bottom: 20px;


    background-color: #E6B3A1;
}

.receitas-posts h1 {
    margin-bottom: 8x;

    font-size: 1.8em;
}

.receitas-posts h2 {
    margin-bottom: 12px;

    font-size: 0.8em;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.8;
}

.receitas-posts p {
    margin-top: 12px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
}

.img-receita-post {
    width: 100%;
}

.botao-receita {
    padding: 6px 12px;
    width: auto;
}

@media screen and (min-width: 1050px) {
    .receitas-posts{
        width: 27%;
    }
}

@media screen and (max-width: 860px){
    main {
        flex-direction: column;
    }

    #receitas-smallposts {
        width: calc(84% + 40px);
    }

    .receitas-posts{
        width: 20%;
    }
}

@media screen and (max-width: 700px) {
    .receitas-posts{
        width: 28%;
    }
}

@media screen and (max-width: 550px) {
    .receitas-posts{
        width: 44%;
    }
}

@media screen and (max-width: 310px) {
    .receitas-posts{
        width: 100%;
    }
}