@charset "UTF-8";

main {
    flex-direction: row;
}

.receita {
    background-color: #ffe4da;
    width: 65%;
    height: auto;
    border-radius: 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    margin: 30px;
}

.receita h1 {
    font-size: 3em;
    padding: 24px 0 24px 5%;
    border: 1px solid black;
}

.imagem {
    width: 100%;
}

.detalhes-receita {
    padding: 24px 0 24px 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.detalhes-receita h2 {
    font-size: 2em;
    margin-bottom: 36px;
    text-decoration: underline;
    font-family: "Cookit", sans-serif;
}

.detalhes-receita ul, .detalhes-receita ol {
    margin: 0 30px 16px 30px
}

.detalhes-receita ul li {
    padding-bottom: 10px;
    list-style: outside;
}

.detalhes-receita p {
    font-weight: bold;
    font-size: 0.9em;
    text-align: justify;
    margin-left: -15px;
}

.detalhes-receita ol p {
    margin-bottom: 20px;
}

.detalhes-receita ol li {
    list-style-type: decimal;
    padding-bottom: 24px;
    text-align: justify;
}

.info-receita {
    display: flex;
    height: 80px;
    justify-content: space-around;
    width: 90%;
    align-items: center;
    margin-left: 5%;
}

.icone-imagem {
    height: 50px;
    margin-right: 10%;
}

.info-receita-detalhes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px;
    width: 45%;
    max-width: 350px;
}

.info-receita-detalhes-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-receita-detalhes-texto h3 {
    font-size: 1.2em;
    margin-bottom: 12px;
}

@media screen and (min-width: 1000px) {
    .info-receita-detalhes-texto h3 {
        font-size: 1.5em;
    }

    .info-receita-detalhes-texto p {
        font-size: 1.2em;
    }

    .imagem {
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 1300px) {
    .info-receita-detalhes-texto h3 {
        font-size: 1.8em;
    }

    .info-receita-detalhes-texto p {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 860px) {
    main {
        display: flex;
        flex-direction: column;
    }

    .receita {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .receita h1 {
        text-align: center;
    }

    .info-receita {
        display: flex;
        flex-direction: column;
    }

    .info-receita-detalhes {
        width: 100%;
    }

    .info-receita-detalhes:first-child {
        margin-bottom: 10px;
    }

    .imagem {
        margin-bottom: 50px;
    }

    .detalhes-receita h2:first-child {
        margin-top: 30px;
    }
}