@charset "UTF-8";

@font-face {
    font-family: "Cookit";
    src: url(../fonts/Cookit-Regular.otf) format('opentype'), url(../fonts/Cookit-Regular.ttf) format('truetype');
}

main {
    background-image: linear-gradient(to bottom,#C76F50, #633828);
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding-right: 3%;
    padding-left: 3%;
}

.rodape-lateral {
    padding: 20px;
    margin: 30px 30px 30px 0;

    border: 1px solid black;
    border-radius: 4px;

    text-align: left;
    font-size: 1.4em;
    color: rgb(58, 58, 58);
    background-color: #E6B3A1;
    width: 25%;
    height: 100%;
}

.rodape-lateral input {
    margin-bottom: 20px;
    padding: 10px 15px;
    width: 87%;

    border-radius: 4px;
    border: 0;

    background-color: #fff0eb;
}

.lista-categorias {
    margin-bottom: 20px;
}

.categorias ul {
    vertical-align: top;
}

.categorias p {
    padding-bottom: 10px;
    font-size: 1.8em;
}

.categorias li {
    text-align: left;
    margin-bottom: 5px;
}

.categorias li > a {
    text-decoration: none;
    color:rgb(102, 102, 102);
}

.categorias li:hover {
    border-bottom: 3px solid red ;
    color: #614C44;
}

.categorias hr {
    margin: 1px 0;
}

.imagem-publicidade {
    width: 100%;
    margin: 20px 0 0 0;
    border: 1px solid black;
}

.posts-all {
    width: 65%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.post {
    width: auto;
    background-color: #ffe4da;
    border-radius: 4px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.226);
    margin: 30px 0px 30px 30px;
}

.post h2 {
    font-size: 1.6em;
    font-weight: bold;
    padding: 20px 0 5px 20px;
}

.post p {
    font-size: 0.9em;
    padding: 12px 20px 0 20px;
    text-align: justify;
}

.post .data {
    font-size: 0.7em;
    padding: 5px 0 12px 20px;
}

.foto {
    width: 100%;
}

.botao {
    display: flex;
    justify-content: flex-end;
}

.botao-receita { 
    margin: 10px 30px 20px 0;
    width: 160px;
    padding: 10px 20px 10px 20px;

    border: 2px solid rgb(196, 133, 255);
    border-radius: 20px;

    transition: 1000ms;

    cursor: pointer;
}

.botao-receita:hover {
    background-color: rgb(214, 169, 255);
    transform: scale(1.2);
}

.botao-receita a {
    text-decoration: none;
    color: black;
}

#nome-email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 90%;
}

.nome-email-detalhes {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.nome-email-detalhes label, .comentario label {
   font-size: 1.6em;
   font-family: 'Cookit', sans-serif;
   margin-bottom: 12px;
}

.comentario {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
}

.comentario textarea, .nome-email-detalhes input {
    padding: 8px;
}

@media screen and (max-width: 860px) {

    main {
        flex-direction: column-reverse;
        align-items: center;
    }

    .posts-all {
        width: 90%;
    }

    .post {
        margin-left: 0;
    }

    .rodape-lateral {
        margin: 30px 0 0 0;
        width: 84%;
        height: auto;
    }

    .lista-categorias {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120px;
    }

    .lista-categorias p {
        display: block;
    }

}

@media screen and (min-width: 1200px) {
    .foto {
        width: 90%;
        margin-left: 5%;
    }
}