@charset "UTF-8";

p, h4 {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 3%;
}

.area-principal {
    background-color: #E6B3A1;
    width: 60%;
    height: auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.548);
    display: inline-block;
    padding: 40px;
    margin: 30px 10px 30px 20px;
    height: 100%;
}

.area-secundaria {
    margin: 30px 30px 30px 0;
    width: 25%;
}

.area-principal h2 {
    font-size: 2.5em;
    padding-bottom: 20px;
}

.bloco1 p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    text-align: justify;
    padding-bottom: 30px;
}

.area-principal h3 {
    font-size: 1.6em;
    padding-bottom: 20px;
}

.bloco2 img {
    display: inline-block;
    width: 20px;
}

.bloco2 h4 {
    display: inline;
    margin-left: 5px;
    font-size: 1.2em;
    vertical-align: bottom;
    font-weight: bold;
}

.bloco2 p {
    margin-top: 10px;
    margin-bottom: 30px;
}

form label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    margin-bottom: 20px;
    padding: 10px;
    width: 200px;
}

.bloco-nome, .bloco-email {
    display: inline-block;
}

.bloco-nome {
    margin-right: 50px;
}

#assunto, #comentario {
    width: calc(100% - 40px);
}

.enviar {
    border-radius: 15px;
    padding: 10px 20px;
    display: block;
    background-color: rgb(215, 215, 255);
    transition: 0.8s all;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    border: none;
}

.enviar:hover {
    background-color: rgb(113, 113, 163);
    transform: scale(1.2);
}


.rodape-lateral {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.548);
    margin: 0;
    margin-right: 0;
    width: 100%;
    height: calc(100% - 40px);
}

.categorias p{
    font-family: "Cookit", sans-serif ;
}

@media screen and (max-width: 860px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .area-principal {
        width: 80%;
    }

    .area-secundaria {
        width: 86%;
    }
}