<header>
    <img src="/images/logo-circular.png" alt="Logo do site">
    <div class="cabecalho">

        <h1>Titan Food</h1>
        <nav>
            <ul>
                <li><a href="/" target="_self">Home</a></li>
                <li><a href="/receitas" target="_self">Receitas</a></li>
                <li><a href="/contato" target="_self">Contato</a></li>
            </ul>
        </nav>
    </div>
</header>

  