<div class="rodape-lateral">
  <input type="text" placeholder="Pesquise aqui...">
    <div class="categorias">
        <nav>
            <ul>
                <p>Categorias<hr size="3"></p>
                <div class="lista-categorias">
                    <li><a href="/receitas/brasileira">▶ Brasileira</a><hr size="1"></li>
                    <li><a href="/receitas/italiana">▶ Italiana</a><hr size="1"></li>
                    <li><a href="/receitas/japonesa">▶ Japonesa</a><hr size="1"></li>
                    <li><a href="/receitas/mexicana">▶ Mexicana</a><hr size="1"></li>
                    <li><a href="/receitas/saudavel">▶ Saudável</a><hr size="1"></li>
                    <li><a href="/receitas/lanches">▶ Lanches</a><hr size="1"></li>
                    <li><a href="/receitas/frutos-do-mar">▶ Frutos do mar</a><hr size="1"></li>
                    <li><a href="/receitas/vegetariana">▶ Vegetariana <!n e comida de verdade> </a><hr size="1"></li>
                    <li><a href="/receitas/veganas">▶ Vegana </a><hr size="1"></li>
                    <li><a href="/receitas/doces">▶ Doces</a><hr size="1"></li>
                    <li><a href="/receitas/bebidas">▶ Bebidas</a><hr size="1"></li>
                  </div>
                <p>posts + Vistos<hr size="3"></p>
                  <div class="lista-categorias">
                    <li><a href="/exagero">▶ EXAGERO</a><hr size="1"></li>
                    <li><a href="/massa-fresca">▶ Massa Fresca</a><hr size="1"></li>
                  </div>
                <p>Publicidade<hr size="3"></p>
                  <img class="imagem-publicidade" src="/images/publicidade.jpg" alt="Publicidade">
                  <img class="imagem-publicidade" src="/images/publicidade.jpg" alt="Publicidade">
                  <img class="imagem-publicidade" src="/images/publicidade.jpg" alt="Publicidade">
            </ul>
        </nav>
    </div>
  </div>