<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-home.css">
    <link rel="stylesheet" href="css/style-contato.css">
    <%- include('includes/favicon') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('includes/header') %>
    <main>
        <section class="area-principal">
            <div class="bloco1">
                <h2>Contato</h2>
                <p>Entre em contato conosco. Mande um feedback do site. Está com alguma dúvida sobre o site? Nos contate para conversarmos e podermos tirar essas dúvidas. Encontrou algum erro ou falha da nossa equipe? Chame o nosso suporte para corrigir esse erro o quanto antes para corrigirmos e não atrapalhar a sua experiência.</p>
            </div>

            <div class="bloco2">
                <h3>Informações para contato</h3>
                <img src="images/endereco100.png" alt="Ícone de localização">
                <h4>Endereço</h4>
                <p>R. Brilhante, 140 - Wanderley Dantas, Rio Branco - AC, 69903-032</p>
                <img src="images/telefone100.png" alt="Ícone de telefone">
                <h4>Telefone</h4>
                <p>(68) 9 9999-9999 | (11) 1 1111-1111</p>
                <img src="images/suporte100.png" alt="Íconde de suporte">
                <h4>Suporte</h4>
                <p>suporte@cubos.academy</p>
            </div>

            <form id="formulario" name="form">
                <div class="bloco-nome">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" class="input-padrao" placeholder="Nome completo" required>
                </div>

                <div class="bloco-email">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="input-padrao" required placeholder="seuemail@dominio.com">
                </div>

                <label for="assunto">Assunto</label>
                <input type="text" id="assunto" class="input-padrao" placeholder="Assunto da mensagem" required>

                <label for="comentario">Comentário</label>
                <textarea id="comentario" cols="30" rows="5" class="input-padrao" placeholder="Conteúdo da mensagem" required></textarea>

                <button id="enviar">Enviar</button>
            </form>
        </section>

        <section class="area-secundaria">
            <%- include('includes/rodape-lateral') %>
        </section>
    </main>

    <section class="feedback-overlay">
        <div class="feedback">
            <p class="msg-pri">Obrigado pelo feedback. &#128077;</p>
            <p class="msg">Seu comentário foi enviado para o nosso suporte.</p>
            <p class="msg">Responderemos assim que possível.</p>
            
            <p id="button"><button onclick="fechar_feedback()">Confirmar</button></p>
        </div>
    </section>

    <%- include('includes/footer') %>

    <script src="/scripts/contato.js"></script>
</body>
</html>
