<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titan Food</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-home.css">
    <link rel="stylesheet" href="css/receitas.css">
    <%- include('includes/favicon') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('includes/header') %>
    <img class="banner" src="images/banner.jpg" alt="Banner do site">

        <main>
            <div class="regiao-detalhes">
                <section class="detalhes-empresa">
                    <img src="images/logo-circular.png" alt="Logo da TITAN Food">
                    <h1>Sobre a TITAN - FOOD</h1>
                    <p>Localizado no coração da cidade e no de cada um dos nossos clientes. Prezamos pela melhor forma de fazer e cozinhar comida para todos, trazendo o melhor de cada tipo de culinária.</p>

                    <p>Oferecemos profissionais experientes e antenados às mudanças no mundo da culinária. O atendimento possui padrão de excelência e sabor das comidas, garantindo qualidade e satisfação dos nossos clientes.</p>
                </section>
                <section class="mapa">
                    <h2>Onde nos encontrar?</h2>
                    <p>Nosso estabelecimento está localizado no coração da cidade.</p>
                    <iframe class="mapa-info" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d983278.1101914779!2d-68.18882515533386!3d-10.598730428791994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x80294b8bc36ff9c6!2sAcre%20burguer!5e0!3m2!1spt-BR!2sbr!4v1624308610100!5m2!1spt-BR!2sbr" width="960" height="360" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </section>
            </div>

            <div class="post-cards-rodape">
                <section id="receitas-smallposts">
                    <h1 class="titulo-posts">Receitas Disponibilizadas</h1>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                    <div class="receitas-posts">
                        <h1 class="titulo-receita-post">Titulo</h1>
                        <h2 class="info-receita-post">Autor e horas</h2>
                        <img class="img-receita-post" src="images/imagem-receitas/massa-fresca.jpg" alt="Imagem da receita">
                        <p class="desc-receita-post">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
                        <a href="/massa-fresca">
                            <div class="botao"><button class="botao-receita">Ir para a receita</button></div>
                        </a>
                    </div>
                </section>
                <%- include('includes/rodape-lateral') %>
            </div>
        </main>
        <%- include('includes/footer') %>
</body>
</html>
