<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receitas</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/style-home.css">
    <%- include('../includes/favicon') %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
  </head>
<body>
    <%- include('../includes/header') %>

    <main>
        <%- include('../includes/rodape-lateral') %>
        <div class="posts-all">
          <h1 class="titulo-posts">Receitas Brasileiras</h1>
            <div class="post" id="primeiro-post">
                <h2>Lorem ipsum dolor sit amet </h2>
                <p class="data">30/05/2021 às 18:19 - By: Guilherme</p>
                <img class="foto" src="https://blog.insiderstore.com.br/wp-content/uploads/2021/02/series-de-culinaria-destaque-1280x720.jpg" alt="Banner do Site">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores consectetur tenetur libero mollitia ipsa accusantium? Dignissimos adipisci repudiandae pariatur, nihil inventore perspiciatis. Aliquid excepturi iusto voluptas labore, rerum ullam mollitia?
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reiciendis illo neque fugit quibusdam? Consequatur in architecto, facilis illo, ducimus dicta reiciendis debitis hic aspernatur numquam nobis eos rerum eius?
                </p>
                <div class="botao"><button class="botao-receita"><a href="/massa-fresca">Continue Lendo...</a></button></div>
            </div>

            <div class="post" id="primeiro-post">
                <h2>Lorem ipsum dolor sit amet </h2>
                <p class="data">30/05/2021 às 18:19 - By: Guilherme</p>
                <img class="foto" src="https://blog.insiderstore.com.br/wp-content/uploads/2021/02/series-de-culinaria-destaque-1280x720.jpg" alt="Banner do Site">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores consectetur tenetur libero mollitia ipsa accusantium? Dignissimos adipisci repudiandae pariatur, nihil inventore perspiciatis. Aliquid excepturi iusto voluptas labore, rerum ullam mollitia?
                <br> <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reiciendis illo neque fugit quibusdam? Consequatur in architecto, facilis illo, ducimus dicta reiciendis debitis hic aspernatur numquam nobis eos rerum eius?
                </p>
                <div class="botao"><button class="botao-receita"><a href="/massa-fresca">Continue Lendo...</a></button></div>
            </div>

            <div class="post">
              <h2>Lorem ipsum dolor sit amet </h2>
              <p class="data">30/05/2021 às 18:19 - By: Guilherme</p>
              <img class="foto" src="https://blog.insiderstore.com.br/wp-content/uploads/2021/02/series-de-culinaria-destaque-1280x720.jpg" alt="Banner do Site">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores consectetur tenetur libero mollitia ipsa accusantium? Dignissimos adipisci repudiandae pariatur, nihil inventore perspiciatis. Aliquid excepturi iusto voluptas labore, rerum ullam mollitia?
              <br> <br>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reiciendis illo neque fugit quibusdam? Consequatur in architecto, facilis illo, ducimus dicta reiciendis debitis hic aspernatur numquam nobis eos rerum eius?
              </p>
              <div class="botao"><button class="botao-receita"><a href="/massa-fresca">Continue Lendo...</a></button></div>
          </div>

          <div class="post">
            <h2>Lorem ipsum dolor sit amet </h2>
            <p class="data">30/05/2021 às 18:19 - By: Guilherme</p>
            <img class="foto" src="https://blog.insiderstore.com.br/wp-content/uploads/2021/02/series-de-culinaria-destaque-1280x720.jpg" alt="Banner do Site">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores consectetur tenetur libero mollitia ipsa accusantium? Dignissimos adipisci repudiandae pariatur, nihil inventore perspiciatis. Aliquid excepturi iusto voluptas labore, rerum ullam mollitia?
            <br> <br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi reiciendis illo neque fugit quibusdam? Consequatur in architecto, facilis illo, ducimus dicta reiciendis debitis hic aspernatur numquam nobis eos rerum eius?
            </p>
            <div class="botao"><button class="botao-receita"><a href="/massa-fresca">Continue Lendo...</a></button></div>
          </div>
        </div>
    </main>

    <%- include('../includes/footer') %>
</body>
</html>
